<div class="footer content">
    <div>
        <div class="whiteText siteMaps">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Collection Statement</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Manage Acount</a></li>
        </ul>
        
        </div>
        <p class="whiteText mt-3"><small> ©2016 DEMO Streaming. All Rights Reserved.</small></p>
    </div>

    <div class="col-12 d-flex mt-3">
        <div id="social" class="col-6 float-left">
            <ul>
                <li><a href=""><img src="assets/assets/social/facebook-white.svg"></img></a></li>
                <li> <a href=""><img src="assets/assets/social/instagram-white.svg"></img></a></li>
                <li><a href=""><img src="assets/assets/social/twitter-white.svg"></img></a>
                </li>
            </ul>
        </div>
        <div id="store" class="col-6 float-right">
            <ul>
                <li><a href=""><img src="assets/assets/store/app-store.svg"></img></a></li>
                <li><a href=""><img src="assets/assets/store/play-store.svg"></img></a></li>
                <li><a href=""><img src="assets/assets/store/windows-store.svg"></img></a>
                </li>
            </ul>
        </div>
    </div>
</div>